<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EJS</title>
  </head>
  <body>
    <!-- to use control flow statements we have use scriplet tag -->
    <!-- <h1><%= kindOfDay %></h1> -->
    <% if(kindOfDay==="Thursday") {%>
    <h1 style="color: royalblue"><%= kindOfDay %></h1>
    <% } else{ %>
    <h1 style="color: rebeccapurple"><%= kindOfDay %></h1>
    <% } %>
  </body>
</html>
